/* Estilos aplicados a los elementos html */
h1{
    color: blue
}
/* Estilos aplicados a las clases */
.latin{
    color: chocolate
}
/* Estilos aplicados a los id */
#primerParrafo{
    color: chartreuse
}